<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar row">
            <div class="col-12 col-md-3">
                <div class="navbar-brand">
                    <img src="/shop-it/frontend/public/images/shopit_logo.png" alt="">
                </div>
            </div>

            <div class="col-12 col-md-6 mt-2mt-md-0">
                <div class="input-group">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-12 col-md-6 mt-2mt-md-0">
                <div class="input-group">
                    <input 
                        type="text" 
                        id="search_field" 
                        class="form-control"
                        placeholder="Enter Product Name ..." />
                    <div class="input-group-append">
                        <button id="search_btn" class="btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 mt-4mt-md-0 text-center">
                <button class="btn" id="login_btn"></button>
                
                <span id="cart" class="ml-3"></span>
                <span class="ml-1" id="cart_count"></span>
            </div>
        </nav>
    </body>
</html>